@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*font-family: 'Be Vietnam Pro', sans-serif;*/

* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

ul,
li,
ol {
  list-style-type: none;
}

.clr {
  clear: both;
  display: block;
  width: 100%;
  height: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  box-shadow: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a img {
  border: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 14px;
}
p {
  margin-bottom: 15px;
  padding-bottom: 0px;
}
iframe {
  width: 100%;
}
/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  /*color: #131313;*/
  font-family: "Be Vietnam Pro", sans-serif;
}
:-moz-placeholder {
  /*color: #131313;*/
  font-family: "Be Vietnam Pro", sans-serif;
}
::-moz-placeholder {
  font-family: "Be Vietnam Pro", sans-serif;
  opacity: 1;
}
:-ms-input-placeholder {
  font-family: "Be Vietnam Pro", sans-serif;
}
textarea {
  height: 120px;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: #1d1d1ddb;
  font-size: 16px;
  line-height: 26px;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content cite,
.entry-content figcaption,
.entry-content table,
.entry-content address,
.entry-content .wp-caption-text,
.entry-content .wp-block-file,
.entry-content {
  font-family: "Be Vietnam Pro", sans-serif;
}
.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.widget-content .rssSummary {
  font-family: "Be Vietnam Pro", sans-serif;
}
header#site-header {
  box-shadow: 0 0 13px #e1dddd;
}
body:not(.home) #site-content {
  box-shadow: 0 0 13px #e1dddd;
  padding-bottom: 30px;
}
#site-content {
  min-height: 100vh;
}

.home .entry-header,
.header-titles .site-description,
.toggle-inner .toggle-text {
  display: none;
}

.entry-categories,
.post-meta-wrapper {
  display: none;
}
body:not(.overlay-header) .header-inner .toggle-wrapper::before {
  background-color: transparent;
}

.header-inner {
  max-width: 120rem;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 0 0 2rem 0;
}

.entry-content p,
.entry-content li {
  line-height: 26px;
  font-size: 16px;
}

/*
body:not(.home) #site-header{
	background-color: #000;
	}

*/

.section-inner.medium {
  max-width: 120rem;
  width: calc(100% - 8rem);
}

.entry-content
  > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(
    .is-style-wide
  ) {
  width: 100%;
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.widget-content .rssSummary {
  font-size: 16px;
}

.search-toggle .toggle-icon,
.search-toggle svg {
  height: 1.8rem;
  max-width: 1.8rem;
  width: 1.8rem;
}

.modal-menu a,
.modal-menu > li > a,
.modal-menu > li > .ancestor-wrapper > a,
.modal-menu ul li a {
  color: #1d1d1ddb;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-weight: 400;
  font-size: 16px;
}

.singular .entry-header {
  background-color: #f2f2f2;
  padding: 0 0 0 0;
  margin-bottom: 0rem;
}

.singular .entry-header h1.entry-title {
  color: #1d1d1ddb;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  font-size: 28px;
  padding: 4rem 0;
  letter-spacing: 0;
  text-transform: uppercase;
  position: relative;
}

.single-product .entry-header {
  background-color: #ffffff;
  padding: 0 0 0 0;
  margin-bottom: 6rem;
}

.single-product .entry-header h1.entry-title {
  color: #2d2d2d;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding: 3rem 0 1rem 0;
  letter-spacing: 0;
  text-transform: capitalize;
  position: relative;
}
.single-product .entry-header h1.entry-title::after {
  content: "";
  display: block;
  border-top: 2px solid;
  border-color: #f64517;
  margin: 5px auto 0px auto;
  width: 5%;
  border-radius: 20px 30px 10px 30px;
  padding: 3px;
}

/*
.singular .entry-header h1.entry-title:after{
	content: "";
	background-color: #c62a2c;
	position: absolute;
	width: 30px;
	height: 1px;
	bottom: -13px;
	left: 0;
	right: 0;
	margin: 0 auto;
	}

*/

button.close-nav-toggle svg,
button.close-nav-toggle .toggle-text {
  color: #000000;
}
a {
  color: #147096;
}
a:hover {
  color: #f73c19;
}

body.single-post .pagination-single,
body.single-post .comments-wrapper,
.singular .intro-text {
  display: none;
}

/* woocommerce my styles */

.single-product .product .post-inner {
  padding-top: 0;
}

.single-product .related {
  clear: both;
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #2e2e2e;
  font-size: 18px;
  font-weight: bold;
}

.woocommerce .quantity .qty {
  padding: 13px 12px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  float: none;
  width: calc(100% / 5 - 8px);
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 10px;
}

.woocommerce div.product div.images .flex-control-thumbs li:nth-child(5) {
  margin-right: 0;
}

.single-product .product .post-meta-wrapper {
  margin-top: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  padding: 5px 0;
  letter-spacing: 0.7px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  color: #fff;
  background-color: #7b7979;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  max-width: 200px;
  border-radius: 0;
  font-weight: 400;
  padding: 12px 24px;
  font-size: 14px;
  letter-spacing: 0;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: #f73c19;
  color: #fff;
  /*letter-spacing: 1px;*/
}

.single-product .product .post-meta {
  color: #7b7979;
}

.single-product .comments-wrapper,
.single-product .pagination-single,
.woocommerce-page .pagination-single {
  display: none;
}

.single-product .product .post-meta {
  font-size: 1.3rem;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #7b7979;
  padding: 17px;
  font-weight: 600;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: #000000;
}

.woocommerce-page .entry-title a {
  pointer-events: none;
}

.woocommerce-page h2.entry-title {
  font-size: 38px;
  color: #2d2d2d;
}

/*
.woocommerce-page article{
	padding-top: 35px !important;
}

*/
.woocommerce-page .post-inner {
  padding-top: 6rem;
}

.woocommerce-cart .coupon {
  width: 50%;
  max-width: 300px;
}

.woocommerce-cart .woocommerce a.button.alt {
  max-width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.woocommerce .woocommerce-ordering select {
  font-size: 17px;
  padding: 8px;
}

.woocommerce-cart .woocommerce-message {
  color: #000000;
}

.woocommerce-cart .woocommerce-message::before {
  color: #af8a66;
}

a.cart-contents {
  background: url(../images/cart-bg-icon.png) no-repeat;
  width: 18px;
  height: 23px;
  display: block;
  vertical-align: bottom;
  position: relative;
}

.cart-contents .cart-contents-count {
  background: #672d94;
  font-size: 15px;
  color: #fff;
  border-radius: 30px;
  display: block;
  vertical-align: top;
  max-height: fit-content;
  width: 24px;
  text-align: center;
  position: absolute;
  top: -15px;
  right: -15px;
}
/* end woocommerce my styles */
.header-footer-group .color-accent {
  color: #444647;
}
.search-results .archive-title {
  font-size: 2rem;
  letter-spacing: normal;
  color: #444647;
}
.search-results .archive-header {
  padding: 3rem 0;
}
.search-results h2.entry-title {
  font-size: 2.4rem;
  text-align: left;
}
.search-results .entry-title a {
  font-size: 30px;
}
.search-results .post-inner {
  padding-top: 1rem;
}
.search-results .post-separator,
.pagination-separator {
  margin: 20px auto;
}

.elementor-16 .hm-slider-stn .elementor-element .swiper-slide-inner {
  max-width: 1260px;
}
.elementor-16 .hm-slider-stn .elementor-element .swiper-slide-contents {
  background-color: #1283ffad;
  padding: 45px 65px;
}
.hm-slider-stn .slide-btns {
  display: block;
  margin-top: 20px;
}
.hm-slider-stn .slide-btns a {
  display: inline-block;
  padding: 12px 25px;
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.hm-slider-stn .slide-btns .btn1 {
  background-color: #313fa0;
  border: solid 1px #313fa0;
}
.hm-slider-stn .slide-btns .btn1:hover {
  background: transparent;
  border-color: #fff;
}
.hm-slider-stn .slide-btns .btn2 {
  border: solid 1px #fff;
}
.hm-slider-stn .slide-btns .btn2:hover {
  background-color: #313fa0;
  border-color: #313fa0;
}
#wpsm_accordion_189 .wpsm_panel-default > .wpsm_panel-heading.acc-a,
#wpsm_accordion_189 .wpsm_panel-default > .wpsm_panel-heading.acc-a:hover,
#wpsm_accordion_189 .wpsm_panel-default > .wpsm_panel-heading:hover,
#wpsm_accordion_209 .wpsm_panel-default > .wpsm_panel-heading.acc-a,
#wpsm_accordion_209 .wpsm_panel-default > .wpsm_panel-heading.acc-a:hover,
#wpsm_accordion_209 .wpsm_panel-default > .wpsm_panel-heading:hover {
  background-color: #313fa0 !important;
  color: #fff !important;
}
#wpsm_accordion_189 .wpsm_panel-default > .wpsm_panel-heading.acc-a a,
#wpsm_accordion_189 .wpsm_panel-default > .wpsm_panel-heading.acc-a:hover a,
#wpsm_accordion_189 .wpsm_panel-default > .wpsm_panel-heading:hover a,
#wpsm_accordion_209 .wpsm_panel-default > .wpsm_panel-heading.acc-a a,
#wpsm_accordion_209 .wpsm_panel-default > .wpsm_panel-heading.acc-a:hover a,
#wpsm_accordion_209 .wpsm_panel-default > .wpsm_panel-heading:hover a {
  color: #fff !important;
}

#wpsm_accordion_189
  .wpsm_panel-default
  > .wpsm_panel-heading:hover
  a
  .ac_open_cl_icon,
#wpsm_accordion_189
  .wpsm_panel-default
  > .wpsm_panel-heading.acc-a:hover
  a
  .ac_open_cl_icon,
#wpsm_accordion_189
  .wpsm_panel-default
  > .wpsm_panel-heading.acc-a
  a
  .ac_open_cl_icon,
#wpsm_accordion_209
  .wpsm_panel-default
  > .wpsm_panel-heading:hover
  a
  .ac_open_cl_icon,
#wpsm_accordion_209
  .wpsm_panel-default
  > .wpsm_panel-heading.acc-a:hover
  a
  .ac_open_cl_icon,
#wpsm_accordion_209
  .wpsm_panel-default
  > .wpsm_panel-heading.acc-a
  a
  .ac_open_cl_icon {
  display: none !important;
}
.sngl-pst-custom-list {
  margin: 0px;
}
.sngl-pst-custom-list li {
  list-style-type: disc;
}
.prdt-contacts-us-btn a {
  padding: 15px 25px;
  background: #0f54af;
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}
ul.sngl-prdct-custom-list-dots li {
  list-style-type: disc;
}
ul.sngl-prdct-custom-list-dots {
  margin: 0px 0px 10px 0px;
}
.sngl-prdct-custom-list {
  margin: 0px 0px 15px 0px;
}
.single-product h6 {
  font-size: 20px;
  color: #0c496c;
}
body.page #site-content div.entry-content h2 {
  /*margin-bottom: 10px;
	color: #0d59bd;*/
}
body.page #site-content div.entry-content h4 {
  /*color: #f55413;
	margin-bottom: 5px;
	font-size: 18px;*/
}
.hm-our-services-stn .elementor-wc-products ul.products li.product .price,
.hm-our-services-stn
  .elementor-wc-products
  .woocommerce
  ul.products
  li.product
  .button {
  display: none;
}
.hm-our-blog-stn .elementor-element .elementor-post__meta-data {
  position: absolute;
  background-color: #1283ffad;
  padding: 15px 20px;
  top: 186px;
}
.woocommerce div.product form.cart,
.woocommerce div.product .price {
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  /* background-color: #f74118; */
  /* background-color: rgba(18, 131, 255, 0.68); */
  background-color: transparent;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  margin: 30px 10px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  color: #fff;
  font-weight: 400;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
  color: #f73e19;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  text-shadow: none !important;
}
.woocommerce-account .woocommerce-MyAccount-content {
  background-color: #2c0e55;
  background-color: rgba(18, 131, 255, 0.68);
  padding: 30px 20px;
}
.woocommerce-account .woocommerce-MyAccount-content p {
  /* color: #fff; */
}
.woocommerce-account .woocommerce-MyAccount-content a {
  /* color: #fff; */
  text-decoration: underline;
}
.woocommerce-account .woocommerce-MyAccount-content a:hover {
  color: #f74118;
}
.woocommerce-account .addresses,
.woocommerce-account legend {
  color: #fff;
}
.woocommerce ul.products li.product .price,
.single-product .product_meta {
  display: none;
}
.woocommerce div.product form.cart a {
  padding: 15px 25px;
  background: #300552;
  color: #fff;
  border-radius: 5px 10px;
}
.woocommerce div.product form.cart a:hover {
  background: #f54f15;
  color: #fff;
}

.elementor-location-footer .tnp-widget-minimal input.tnp-submit {
  background: transparent;
  padding: 0;
  display: inline-block;
  width: 20%;
  font-size: 20px;
  height: 100%;
  vertical-align: sub;
}
.elementor-location-footer .tnp-widget-minimal input.tnp-email {
  padding: 15px;
  display: inline-block;
  width: 80%;
  color: #fff;
  background: transparent;
  border: none;
}
#financial_report_by_user_wrapper .paging_full_numbers button,
.send_user_message_cont .paging_full_numbers button,
.send_user_message_cont
  #request_service_client_wrapper
  .paging_full_numbers
  button {
  background: #fff !important;
  color: #000 !important;
  padding: 6px 15px !important;
}
#financial_report_by_user_wrapper input,
#financial_report_by_user_wrapper input:focus,
#message_subject,
#message_subject:focus,
#request_service_client_wrapper input[type="search"],
#request_service_client_wrapper input[type="search"]:focus {
  outline: none;
  outline-offset: unset;
  border: none;
}
#request_service_client .button {
  color: #ffffff !important;
  background-color: #313fa0 !important;
}
.dt-length .dt-input {
  margin-right: 10px;
}
#financial_report_by_user_wrapper #financial_report_by_user thead {
  background-color: #fff !important;
}
#financial_report_by_user thead th span,
#financial_report_by_user thead td span,
#financial_report_by_user_wrapper #financial_report_by_user thead th span {
  color: #262626 !important;
  font-weight: 700;
}
#custom_woocommerce_design .text_dark *,
.text_dark * {
  color: #1d1d1ddb !important;
}
.woocommerce-account
  #custom_woocommerce_design
  .woocommerce-MyAccount-navigation {
  float: unset;
  margin-right: 25px;
  max-width: 325px;
  min-width: 325px;
  width: 325px !important;
}
.woocommerce-account #custom_woocommerce_design .woocommerce-MyAccount-content {
  float: unset;
  width: calc(100% - 350px) !important;
}
.woocommerce-account
  #custom_woocommerce_design
  .woocommerce-MyAccount-navigation
  ul {
  margin: 0 !important;
  padding: 10px 0 !important;
}
#custom_woocommerce_design {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
#custom_woocommerce_design .woocommerce-MyAccount-navigation .is-active a,
.woocommerce-account
  #custom_woocommerce_design
  .woocommerce-MyAccount-navigation
  a:hover {
  color: #313fa0 !important;
  background-color: #f2f2f2;
}
.woocommerce-account
  #custom_woocommerce_design
  .woocommerce-MyAccount-navigation,
.woocommerce-account #custom_woocommerce_design .woocommerce-MyAccount-content {
  background-color: #fff !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#custom_woocommerce_design .woocommerce-MyAccount-navigation ul li {
  margin: 0 !important;
}
#custom_woocommerce_design .woocommerce-MyAccount-navigation ul a {
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
}
#custom_woocommerce_design .send_user_message_cont .nav .nav-item .nav-link {
  border-color: #f2f2f2;
}
#custom_woocommerce_design .send_user_message_cont .nav-item .nav-link.active {
  background-color: #f2f2f2 !important;
  color: #313fa0 !important;
}
.woocommerce-account .entry-content .woocommerce {
  max-width: 100% !important;
}
#custom_woocommerce_design table {
  width: 100% !important;
}
#custom_woocommerce_design input {
  border-color: #f2f2f2 !important;
  border: 1px solid #f2f2f2 !important;
}
#custom_woocommerce_design #send_message_by_user_btn {
  background-color: #313fa0 !important;
}
#custom_woocommerce_design #file_adding_div .file_item {
  display: flex;
  margin-bottom: 10px;
}
#custom_woocommerce_design #file_adding_div .file_item input {
  font-size: 14px;
  border: none;
  padding: 0;
}
#custom_woocommerce_design #file_adding_div .file_item .removefile {
  background-color: transparent;
  padding: 0 !important;
  font-size: 16px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border: 1px solid;
}
#custom_woocommerce_design #addFile {
  color: #313fa0 !important;
  background-color: transparent !important;
  border: 1px solid #313fa0 !important;
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  min-width: 130px;
}
#financial_report_by_user .btn,
#request_service_client td .button,
#custom_woocommerce_design #send_message_by_user_btn {
  color: #ffffff !important;
  background-color: #313fa0 !important;
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  min-width: 130px;
  text-align: center;
  justify-content: center;
}
#custom_woocommerce_design tr,
#custom_woocommerce_design th,
#custom_woocommerce_design td {
  border: 0.1rem solid #dcd7ca;
  line-height: 1.4;
  margin: 0;
  padding: 0.5em;
}
#custom_woocommerce_design .dt-layout-cell {
  overflow: auto;
}
@media (max-width: 767px) {
  .woocommerce-account
  #custom_woocommerce_design
  .woocommerce-MyAccount-navigation {
    margin-right: 0;
    max-width: 100%;
    width: 100% !important;
    margin-bottom: 25px;
    min-width: unset;
}
.woocommerce-account #custom_woocommerce_design .woocommerce-MyAccount-content {
  width: 100% !important;
}
}
@media (max-width: 480px) {
}
